html,
body,
#mapid {
	width:  100%;
	height:  100%;
	margin:  0;
	padding:  0;
}
body {
	font-family: 'Open Sans', sans-serif;
	line-height: 1.7;
	color: #333;
}
h1 {
	background-color: rgba(181, 181, 181, 0.3);
	color: darkorange;
}
h2 {
	color:  red;
}
.popup-bold {
	color:  purple;
	font-weight: bold;
}

.legend {
  padding: 10px;
  line-height: 18px;
  color: #555;
  background-color: #fff;
  border-radius: 5px;
}

.legend i {
	float:  left;
	width:  18px;
	height: 18px;
	margin-right: 8px;
	opacity: 0.7;
}